body {
  font-family: Arial, sans-serif;
  background-color: #ffdbf7;
  padding: 20px;
}
body {
  font-family: Arial, sans-serif;
  background-image: url('folha.jpg');
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
}
h1 {
  text-align: center;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background: #fcfefe;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}
    h1 {
        text-align: center;
        font-family: 'Rockwell Extra Bold';
        text-transform: uppercase;
    }
button {
  width: 100%;
  background-color: #ff1f1f;
  color: white;
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #990bda;
}

#message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}